.bg{background: url('C:\Users\rajvi\OneDrive\Desktop\react\frontend\src\img\libraryBg.jpg');
    background-size: cover;
    height: 550px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    
}